%script
  $(function() { $('.datepicker').datepicker() });

- if usuario.errors.any?
  %ul
    - usuario.errors.each do |atributo, mensagem|
      %li
        %strong= "#{ Usuario.human_attribute_name(atributo) }:"
        = "#{ mensagem }"
  %br

= form_for usuario, html: { class: "form form-horizontal usuario" } do |f|
  .form-group
    = f.label :nome, class: 'control-label'
    .controls
      = f.text_field :nome, class: 'form-control', required: true
    = error_span(usuario[:nome])
  .form-group
    = f.label :email, class: 'control-label'
    .controls
      = f.text_field :email, class: 'form-control', required: true

  .form-group
    = f.label :data_registro, class: 'control-label'
    .controls
      = f.text_field :data_registro, class: ' datepicker form-control'
    = error_span(usuario[:data_registro])
  .form-group
    = f.label :data_desligamento, class: 'control-label'
    .controls
      = f.text_field :data_desligamento, class: 'datepicker form-control'

  .form-group
    = f.label :perfil, class: 'control-label'
    .controls
      = f.select(:perfil, Usuario.perfils.keys, {}, { class: "form-control" })
    %br/

  = f.submit t('helpers.links.save'), class: 'btn btn-primary'

  = link_to t("helpers.links.cancel"), usuarios_path, class: 'btn btn-default'
