%script
  $(function() { $('.datepicker').datepicker() });

= form_for usuario, html: { class: "form form-horizontal usuario" } do |f|
  .form-group
    = f.label :nome, class: 'control-label'
    .controls
      = f.text_field :nome, class: 'form-control', required: true
    = error_span(usuario[:nome])
  .form-group
    = f.label :email, class: 'control-label'
    .controls
      = f.text_field :email, class: 'form-control', required: true
    = error_span(usuario[:email])
  .form-group
    = f.label :data_registro, class: 'control-label'
    .controls
      = f.text_field :data_registro, class: ' datepicker form-control', required: true
    = error_span(usuario[:data_registro])
  .form-group
    = f.label :data_desligamento, class: 'control-label'
    .controls
      = f.text_field :data_desligamento, class: 'datepicker form-control'

  .form-group
    = f.label :perfil, class: 'control-label'
    .controls
      = f.text_field :perfil, class: 'form-control', required: true
    = error_span(usuario[:perfil])

  = f.submit nil,class: 'btn btn-primary', value: t('helpers.links.save')
  = link_to t("helpers.links.cancel"), usuarios_path, :class => 'btn btn-default'
