- model_class = Usuario

.container
  .row
    .col-md-11

      .page-header
        %h1=t model_class.model_name.human

      %p
        %strong= model_class.human_attribute_name(:nome) + ':'
        %br
        = usuario.nome
      %p
        %strong= model_class.human_attribute_name(:email) + ':'
        %br
        = usuario.email
      %p
        %strong= model_class.human_attribute_name(:data_registro) + ':'
        %br
        = usuario.data_registro
      %p
        %strong= model_class.human_attribute_name(:data_desligamento) + ':'
        %br
        = usuario.data_desligamento
      %p
        %strong= model_class.human_attribute_name(:perfil) + ':'
        %br
        = usuario.perfil


      = link_to t("helpers.links.back"), usuarios_path,                  |
        class: 'btn btn-default'

      = link_to t("helpers.links.edit"),                                 |
        edit_usuario_path(usuario), class: 'btn btn-default'

      = link_to t("helpers.links.destroy"), usuario_path(usuario),       |
        method: "delete", data: { confirm: t("helpers.links.confirm") }, |
        class: 'btn btn-danger'
