%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title=t('helpers.main_title')
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body

    - if notice || alert
      .row.text-center
        .alert.col-md-4.col-md-offset-4
          - if notice
            .alert.alert-success= notice
          - if alert
            .alert.alert-danger= alert

    = yield
